In [1]:
import pandas as pd
import symbol as s
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [2]:
symbol_meta = s.load_symbol_meta()
symbol_list = symbol_meta.symbol.copy()

In [3]:
# max_date = symbol_data.groupby('symbol').max()
# diff = (to_date - max_date)
# for i in range(diff):
#     print(i)
#     max_date = max_date + relativedelta(days=1)
#     from nsepy.archives import get_price_list
#     try:
#         get_price_list(max_date)
#     except:
#         print('unable to fetch data for {0}'.format(max_date))

In [4]:
from nsepy import get_history
symbol = symbol_meta.ix[0, :]
from_date = symbol.date_of_listing
to_date = datetime.today().date()
symbol = symbol.symbol
symbol, from_date, to_date

('20MICRONS', datetime.date(2008, 10, 6), datetime.date(2016, 12, 3))

In [5]:
%timeit get_history(symbol=symbol, start=from_date, end=to_date)

1 loop, best of 3: 1.19 s per loop

In [6]:
nse_data = get_history(symbol=symbol, start=from_date, end=to_date)

In [7]:
nse_data.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2008-10-06,20MICRONS,EQ,55.00,80.0,80.0,31.60,33.55,33.65,41.27,11750865,484907000.0,NaN,991550,0.0844
2008-10-07,20MICRONS,EQ,33.65,32.0,38.0,27.85,30.05,30.10,31.51,4556711,143599000.0,NaN,333621,0.0732
2008-10-08,20MICRONS,EQ,30.10,28.0,29.2,25.10,26.40,26.50,26.85,1232192,33090000.0,NaN,92240,0.0749
2008-10-10,20MICRONS,EQ,26.50,24.9,24.9,21.65,23.65,23.20,23.50,603964,14193000.0,NaN,113128,0.1873
2008-10-13,20MICRONS,EQ,23.20,24.3,26.6,23.30,24.70,24.65,25.37,449346,11401000.0,NaN,93847,0.2089

In [2]:
store = s.get
store.keys()
# del store['historical_data_symbol']

['/symbol_meta']