In [1]:
import pandas as pd
import numpy as np
from symbol import *
from datetime import datetime
import os
import matplotlib.pyplot as plt
import seaborn as sns
from dateutil.relativedelta import relativedelta

sns.set(context='notebook', style="dark", palette="muted", color_codes=True)

%matplotlib inline

In [2]:
def num_missing(x):
  return sum(x.isnull())

In [ ]:
symbol_meta = load_symbol_meta()
symbol_data = load_hist_data(symbol_meta)
# symbol_data = symbol_data.replace(0, np.nan)
symbol_list = pd.DataFrame(index=np.sort(symbol_data.symbol.unique()))
close = pd.pivot_table(data=symbol_data, index='date', columns='symbol', values='adj_close')

In [37]:
import urllib
symbol = 'INFY.NS'
from_date = symbol_meta[symbol_meta.symbol == 'INFY'].date_of_listing.values[0]
to_date = datetime.today().date()
enco = urllib.parse.urlencode
base = enco((('a', from_date.month), ('b', from_date.day), ('c', from_date.year),
             ('d', to_date.month), ('e', to_date.day), ('f', to_date.year),
             ('g', 'd'), ('ignore', '.csv')
            ))
symbol_data = pd.DataFrame(index=pd.date_range(start=from_date, end=to_date))
url = 'http://real-chart.finance.yahoo.com/table.csv?'+'s='+symbol+'&'+ base
url
data = pd.read_csv(url, parse_dates=['Date'], index_col='Date', usecols=['Date','Adj Close'])
rename_columns(data)
data = data.sort_index()

type(data.head())

pandas.core.frame.DataFrame

In [ ]:
slist = symbol_list[close['2010-01'].ix[0].notnull()].index
slice_close = close['2010':'2015'][slist].copy()
slice_close.interpolate(method='time', inplace=True, limit=4)
slist = slist[slice_close.apply(num_missing) == 0]
slice_close = slice_close[slist]
slice_ret = np.log(slice_close/slice_close.shift(1))*100
slice_ret = slice_ret.ix[1:,:]
slice_ret[abs(slice_ret) > 50] = np.nan
slice_ret = slice_ret.interpolate(method='time')

In [ ]:
slice_corr = slice_ret.corr() #.replace(1,0)
slice_cor = pd.DataFrame(slice_corr.min(), columns=['corr_coeff'])
slice_cor['corr_symbol'] = slice_corr.idxmin()

In [ ]:
slice_cor[slice_cor.corr_coeff == min(slice_cor.corr_coeff)]

In [ ]:
slice_close[['PFIZER', 'IMPAL']].plot()

In [ ]:
tst = symbol_data[symbol_data.symbol == 'PFIZER'][['date', 'prev_close', 'open', 'close', 'adj_close']].copy()
tst.adj_close = tst.close
tst = tst.sort_values('date')
tst = tst.set_index('date')

In [ ]:
tst = tst.sort_index(ascending=False)



for i in tst.itertuples():

    rat = round((tst.ix[i.Index,'close']-tst.ix[i.Index,'prev_close'])/tst.ix[i.Index,'prev_close'],1)
#     print(rat)
    if rat <= -0.5:
#     if tst.ix[i.Index,:].close/tst.ix[i.Index, :].prev_close<0.5:
        print(rat)
        tst.adj_close[i.Index- relativedelta(days=1):] = tst.adj_close[i.Index- relativedelta(days=1):]*abs(rat)

In [ ]:
tst = tst.sort_index()
tst['ret'] = np.log(tst.close/tst.prev_close)*100
tst['adj_ret'] = np.log(tst.adj_close/tst.adj_close.shift(1))*100

In [ ]:
tst[(abs(tst.ret)>15) | (abs(tst.adj_ret)>15)]

In [ ]:
tst[(abs(tst.ret)>15) | (abs(tst.adj_ret)>15)]

In [ ]:
tst.adj_close.plot()

In [ ]:
from pandas_datareader.data import DataReader
yah = DataReader(name=str('8KMILES')+'.NS',
                                     data_source='yahoo-actions',
                                     start=datetime(2000,9,1),
                                     end=datetime.today())
yah

In [ ]:
symbol_data = symbol_data.sort_values(['symbol','date'])

In [ ]:
symbol_data['date'] = [datetime.fromordinal(x)
                        for x in pd.Series(symbol_data.date)]
symbol_data.head()

In [ ]:
HIST_SYMBOL_SCHEMA = ['symbol', 'date', 'prev_close', 'open', 'high',
                      'low', 'last', 'close', 'vwap', 'volume',
                      'turnover', '%deliverble']

In [ ]:
symbol_data = symbol_data.reset_index()[HIST_SYMBOL_SCHEMA]
symbol_data = symbol_data[HIST_SYMBOL_SCHEMA]

In [ ]:
ps = symbol_data.groupby('symbol').aggregate({
        'date': 'first',
        'prev_close': 'first'
    })
# symbol_meta = symbol_meta.set_index('symbol').join(ps ).drop(['date'], axis=1)
# columns = list(symbol_meta.columns.values)
# columns.insert(3, 'initial_price')
# symbol_meta['initial_price'] = symbol_meta.prev_close
# symbol_meta = symbol_meta[columns[0:-2]]

In [ ]:
symbol_data['simple_returns'] = (symbol_data.close - symbol_data.prev_close)/symbol_data.prev_close*100
symbol_data['log_returns'] = np.log(symbol_data.close/symbol_data.prev_close)*100

In [ ]:
symbol_data.head()

In [ ]:
symbol_data.to_hdf('symbol_data.h5', 'daily_data')

In [ ]:
symbol_data.groupby('symbol').aggregate({
        'prev_close': 'diff'
#         'prev_close': 'last'
    })

In [ ]:
symbol_data.style

In [3]:
symbol_meta = pd.read_hdf('symbol.h5', 'symbol_meta')
symbol_data = pd.read_hdf('symbol_data.h5', 'daily_data')

In [4]:
symbol_data.ix[(abs(symbol_data.simple_returns)>40) | (abs(symbol_data.log_returns)>40), ['simple_returns', 'log_returns']] = np.nan
symbol_data.interpolate(inplace=True)
symbol_data.fillna(method='bfill', inplace=True)

In [9]:
symbol_data['sd'] = symbol_data.close
symbol_data.ix[1:, 'sd'] = (((symbol_data.simple_returns.ix[1:] * symbol_data.prev_close.ix[1:])/100).cumsum() + symbol_data.close.ix[1:])
symbol_data.head()

,symbol,date,prev_close,open,high,low,last,close,vwap,volume,turnover,%deliverble,simple_returns,log_returns,sd
0,20MICRONS,2008-10-06,55.00,80.0,80.0,31.60,33.55,33.65,41.27,11750865,484907000.0,8.44,-10.549777,-11.148788,33.65
1,20MICRONS,2008-10-07,33.65,32.0,38.0,27.85,30.05,30.10,31.51,4556711,143599000.0,7.32,-10.549777,-11.148788,26.55
2,20MICRONS,2008-10-08,30.10,28.0,29.2,25.10,26.40,26.50,26.85,1232192,33090000.0,7.49,-11.960133,-12.738044,19.35
3,20MICRONS,2008-10-10,26.50,24.9,24.9,21.65,23.65,23.20,23.50,603964,14193000.0,18.73,-12.452830,-13.299245,12.75
4,20MICRONS,2008-10-13,23.20,24.3,26.6,23.30,24.70,24.65,25.37,449346,11401000.0,20.89,6.250000,6.062462,15.65

In [5]:
symbol_data[(symbol_data.symbol == '8KMILES') & (symbol_data.date == datetime(2016,10,10))]

,symbol,date,prev_close,open,high,low,last,close,vwap,volume,turnover,%deliverble,simple_returns,log_returns
8332,8KMILES,2016-10-10,2005.15,775.0,839.9,754.0,822.0,817.8,811.18,318427,258302000.0,15.14,-3.771951,-3.849838

In [7]:
symbol_data[symbol_data.symbol == 'INFY' ]

,symbol,date,prev_close,open,high,low,last,close,vwap,volume,turnover,%deliverble,simple_returns,log_returns
1422003,INFY,2011-06-29,2865.30,2868.00,2907.00,2868.00,2880.00,2881.75,2886.22,600094,1.732005e+09,69.48,0.574111,0.572469
1422004,INFY,2011-06-30,2881.75,2886.05,2919.00,2881.50,2903.10,2910.45,2903.47,1417730,4.116332e+09,65.83,0.995923,0.990996
1422005,INFY,2011-07-01,2910.45,2935.00,2969.95,2924.10,2928.00,2934.15,2942.60,800308,2.354985e+09,62.97,0.814307,0.811009
1422006,INFY,2011-07-04,2934.15,2966.65,2977.00,2935.00,2941.00,2938.95,2948.00,514324,1.516229e+09,55.55,0.163591,0.163457
1422007,INFY,2011-07-05,2938.95,2957.00,2969.90,2926.00,2959.00,2956.45,2951.71,802966,2.370122e+09,58.70,0.595451,0.593685
1422008,INFY,2011-07-06,2956.45,2947.00,2972.45,2937.10,2954.50,2953.70,2953.60,430028,1.270130e+09,51.61,-0.093017,-0.093060
1422009,INFY,2011-07-07,2953.70,2955.20,3000.00,2943.00,2998.00,2995.70,2975.07,718934,2.138882e+09,54.89,1.421945,1.411931
1422010,INFY,2011-07-08,2995.70,3000.00,3023.90,2967.25,2967.25,2976.55,2997.77,708724,2.124590e+09,55.28,-0.639250,-0.641302
1422011,INFY,2011-07-11,2976.55,2953.90,2976.10,2888.55,2926.35,2921.15,2917.17,1150815,3.357122e+09,47.67,-1.861215,-1.878754
1422012,INFY,2011-07-12,2921.15,2850.00,2850.00,2746.80,2786.10,2791.55,2775.67,3706582,1.028824e+10,42.33,-4.436609,-4.538038
1422013,INFY,2011-07-13,2791.55,2766.00,2807.35,2761.05,2778.00,2777.30,2779.12,1667271,4.633542e+09,61.74,-0.510469,-0.511776
1422014,INFY,2011-07-14,2777.30,2760.25,2764.00,2731.00,2739.95,2740.35,2742.26,1361403,3.733324e+09,55.29,-1.330429,-1.339358
1422015,INFY,2011-07-15,2740.35,2744.00,2762.95,2720.00,2731.50,2731.35,2734.03,799078,2.184706e+09,49.95,-0.328425,-0.328966
1422016,INFY,2011-07-18,2731.35,2735.00,2743.25,2707.35,2712.50,2713.40,2718.24,1176082,3.196869e+09,69.48,-0.657184,-0.659353
1422017,INFY,2011-07-19,2713.40,2721.00,2762.00,2716.65,2747.20,2750.50,2741.45,1040553,2.852628e+09,60.53,1.367288,1.358025
1422018,INFY,2011-07-20,2750.50,2772.80,2772.80,2745.00,2755.05,2752.45,2753.63,777839,2.141878e+09,67.81,0.070896,0.070871
1422019,INFY,2011-07-21,2752.45,2745.20,2784.50,2736.80,2766.50,2768.10,2765.82,737136,2.038782e+09,64.23,0.568584,0.566974
1422020,INFY,2011-07-22,2768.10,2784.30,2844.00,2770.00,2820.00,2828.25,2820.70,968703,2.732424e+09,56.77,2.172971,2.149698
1422021,INFY,2011-07-25,2828.25,2818.00,2825.05,2791.10,2806.00,2807.75,2806.14,925532,2.597171e+09,64.20,-0.724830,-0.727469
1422022,INFY,2011-07-26,2807.75,2809.00,2824.00,2787.50,2801.00,2801.80,2803.15,856092,2.399753e+09,74.23,-0.211913,-0.212138
1422023,INFY,2011-07-27,2801.80,2801.00,2835.90,2791.20,2795.00,2796.65,2806.00,1063305,2.983630e+09,68.18,-0.183810,-0.183980
1422024,INFY,2011-07-28,2796.65,2765.00,2773.90,2734.50,2743.00,2751.10,2748.44,1185172,3.257377e+09,70.19,-1.628734,-1.642144
1422025,INFY,2011-07-29,2751.10,2741.00,2782.45,2725.40,2766.00,2775.90,2765.79,1219699,3.373433e+09,74.35,0.901458,0.897419
1422026,INFY,2011-08-01,2775.90,2780.10,2823.80,2780.10,2815.25,2815.10,2811.72,761869,2.142166e+09,68.79,1.412155,1.402277
1422027,INFY,2011-08-02,2815.10,2798.55,2798.55,2745.00,2752.00,2750.95,2762.62,616566,1.703336e+09,63.21,-2.278782,-2.305148
1422028,INFY,2011-08-03,2750.95,2735.00,2739.70,2708.50,2730.00,2732.60,2725.15,705761,1.923305e+09,60.79,-0.667042,-0.669277
1422029,INFY,2011-08-04,2732.60,2740.00,2759.95,2704.00,2714.80,2709.15,2737.69,816236,2.234600e+09,57.54,-0.858157,-0.861860
1422030,INFY,2011-08-05,2709.15,2643.60,2643.60,2525.00,2601.00,2591.20,2586.16,1969759,5.094113e+09,51.98,-4.353764,-4.451384
1422031,INFY,2011-08-08,2591.20,2500.00,2500.00,2431.00,2487.00,2470.50,2467.86,2021280,4.988239e+09,51.27,-4.658073,-4.770053
1422032,INFY,2011-08-09,2470.50,2351.00,2439.95,2350.20,2379.00,2374.55,2387.14,2106218,5.027836e+09,48.94,-3.883829,-3.961261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423313,INFY,2016-10-14,1052.35,1052.90,1082.70,996.25,1025.70,1027.15,1035.98,16730845,1.733287e+10,33.37,-2.394641,-2.423778
1423314,INFY,2016-10-17,1027.15,1034.95,1041.80,1017.35,1025.15,1022.40,1028.56,4007429,4.121892e+09,68.41,-0.462445,-0.463517
1423315,INFY,2016-10-18,1022.40,1030.00,1040.50,1027.30,1039.00,1039.05,1033.41,3194067,3.300781e+09,79.66,1.628521,1.615403
1423316,INFY,2016-10-19,1039.05,1042.00,1045.70,1036.00,1041.40,1041.80,1042.05,1754918,1.828720e+09,51.85,0.264665,0.264315
1423317,INFY,2016-10-20,1041.80,1044.75,1050.70,1033.80,1038.00,1036.65,1039.45,1767745,1.837490e+09,68.33,-0.494337,-0.495563
1423318,INFY,2016-10-21,1036.65,1035.00,1041.00,1022.50,1037.50,1038.30,1036.08,1931810,2.001515e+09,68.34,0.159167,0.159040
1423319,INFY,2016-10-24,1038.30,1037.50,1042.70,1025.50,1027.60,1027.10,1030.31,1451487,1.495478e+09,68.84,-1.078686,-1.084546
1423320,INFY,2016-10-25,1027.10,1036.50,1038.90,1015.20,1017.35,1017.20,1022.44,2818007,2.881233e+09,79.68,-0.963879,-0.968554
1423321,INFY,2016-10-26,1017.20,1017.00,1019.85,1009.30,1013.20,1014.20,1013.36,1387608,1.406143e+09,61.23,-0.294927,-0.295363
1423322,INFY,2016-10-27,1014.20,1017.90,1017.95,1001.10,1004.50,1003.50,1007.07,3613895,3.639453e+09,75.05,-1.055019,-1.060624
1423323,INFY,2016-10-28,1003.50,1005.20,1010.00,993.15,997.00,997.50,998.54,2920353,2.916079e+09,61.48,-0.597907,-0.599702
1423324,INFY,2016-10-30,997.50,1001.00,1005.95,999.80,1002.40,1002.10,1002.14,319036,3.197180e+08,61.43,0.461153,0.460093
1423325,INFY,2016-11-01,1002.10,1006.80,1006.80,986.40,990.40,989.45,992.37,3166399,3.142237e+09,75.01,-1.262349,-1.270384
1423326,INFY,2016-11-02,989.45,984.80,987.50,980.00,980.50,981.05,982.57,2688597,2.641724e+09,66.69,-0.848956,-0.852581
1423327,INFY,2016-11-03,981.05,981.05,982.00,965.10,968.00,966.85,970.25,2612554,2.534834e+09,74.64,-1.447429,-1.458006
1423328,INFY,2016-11-04,966.85,967.00,979.20,961.00,971.00,971.00,970.61,3002774,2.914530e+09,69.45,0.429229,0.428310
1423329,INFY,2016-11-07,971.00,985.00,986.00,975.00,978.95,977.95,980.47,2268836,2.224536e+09,71.41,0.715757,0.713208
1423330,INFY,2016-11-08,977.95,986.90,987.75,970.60,982.60,982.60,979.56,2630554,2.576778e+09,71.31,0.475484,0.474358
1423331,INFY,2016-11-09,982.60,930.00,974.60,901.00,963.00,958.30,950.89,6382079,6.068657e+09,57.48,-2.473031,-2.504124
1423332,INFY,2016-11-10,958.30,962.50,962.50,935.00,946.00,939.40,944.17,3643665,3.440236e+09,62.60,-1.972243,-1.991951
1423333,INFY,2016-11-11,939.40,940.00,945.00,918.70,921.90,921.55,927.27,3548391,3.290318e+09,67.06,-1.900149,-1.918434
1423334,INFY,2016-11-15,921.55,924.00,939.95,908.55,917.60,923.55,924.70,4617925,4.270173e+09,70.85,0.217026,0.216791
1423335,INFY,2016-11-16,923.55,930.00,956.85,928.55,935.40,940.90,946.16,6111308,5.782269e+09,73.94,1.878621,1.861192
1423336,INFY,2016-11-17,940.90,934.25,949.00,926.40,928.00,929.80,938.14,2853365,2.676845e+09,65.96,-1.179722,-1.186735
1423337,INFY,2016-11-18,929.80,930.00,933.25,917.50,918.00,920.00,925.99,3020114,2.796603e+09,74.20,-1.053990,-1.059584
1423338,INFY,2016-11-21,920.00,926.90,926.90,906.95,914.00,911.10,918.76,3970284,3.647743e+09,76.68,-0.967391,-0.972101
1423339,INFY,2016-11-22,911.10,916.90,928.65,911.65,914.85,914.20,918.14,2741563,2.517130e+09,73.19,0.340248,0.339671
1423340,INFY,2016-11-23,914.20,922.10,922.90,912.45,921.00,920.25,918.81,4125893,3.790923e+09,85.81,0.661781,0.659601
1423341,INFY,2016-11-24,920.25,928.20,939.90,923.30,930.00,930.30,931.71,8390322,7.817314e+09,84.20,1.092095,1.086174
1423342,INFY,2016-11-25,930.30,930.45,985.00,930.45,974.70,977.50,971.84,6315690,6.137815e+09,57.93,5.073632,4.949118

In [10]:
symbol_meta.loc['INFY',:]     nse_data['symbol'] = [symbol for i in range(0, len(nse_data))]

name_of_company                Infosys Limited
date_of_listing                     1995-02-08
industry                                    IT
initial_price                           2865.3
nifty_50                                  True
nifty_next_50                            False
nifty_mc_50                              False
nifty_ff_midcap_100                      False
nifty_ff_smallcap_100                    False
nifty_midcap_150                         False
nifty_smallcap_250                       False
nifty_ff_midsmallcap_400                 False
nifty_500                                 True
nifty_alpha_50                           False
nifty_high_beta_50                       False
nifty_div_opp_50                          True
nifty_growth_sectors_15                   True
nifty_100_low_volatility_30               True
nifty_low_volatility_50                   True
nifty_quality_30                          True
nifty_value_20                            True
nifty_auto                               False
nifty_bank                               False
nifty_fmcg                               False
nifty_finance                            False
nifty_it                                  True
nifty_media                              False
nifty_metal                              False
nifty_psu_bank                           False
nifty_pharma                             False
nifty_private_bank                       False
Name: INFY, dtype: object

In [17]:
pd = get_history(symbol='INFY', start=symbol_meta.loc['INFY',:].date_of_listing, end=datetime.today().date())

In [19]:
pd[pd.Symbol == 'INFOSYSTCH']

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
1996-01-01,INFOSYSTCH,EQ,408.00,407.00,407.90,405.00,NaN,407.90,406.48,400,1.630000e+05,NaN,NaN,NaN
1996-01-02,INFOSYSTCH,EQ,407.90,407.00,409.00,406.25,NaN,406.25,407.58,400,1.630000e+05,NaN,NaN,NaN
1996-01-03,INFOSYSTCH,EQ,406.25,409.00,409.00,409.00,NaN,409.00,409.00,200,8.200000e+04,NaN,NaN,NaN
1996-01-04,INFOSYSTCH,EQ,409.00,405.00,407.00,405.00,NaN,406.30,405.65,600,2.430000e+05,NaN,NaN,NaN
1996-01-05,INFOSYSTCH,EQ,406.30,401.50,401.50,401.50,NaN,401.50,401.50,100,4.000000e+04,NaN,NaN,NaN
1996-01-08,INFOSYSTCH,EQ,401.50,401.50,405.00,402.00,NaN,404.00,404.14,700,2.830000e+05,NaN,NaN,NaN
1996-01-09,INFOSYSTCH,EQ,404.00,404.00,400.00,395.00,NaN,399.50,399.53,1700,6.790000e+05,NaN,NaN,NaN
1996-01-10,INFOSYSTCH,EQ,399.50,399.50,397.00,395.00,NaN,396.00,395.29,700,2.770000e+05,NaN,NaN,NaN
1996-01-11,INFOSYSTCH,EQ,396.00,399.00,405.00,396.00,NaN,405.00,400.44,1600,6.410000e+05,NaN,NaN,NaN
1996-01-12,INFOSYSTCH,EQ,405.00,403.00,403.00,400.00,NaN,402.75,401.35,700,2.810000e+05,NaN,NaN,NaN
1996-01-15,INFOSYSTCH,EQ,402.75,397.50,402.00,397.50,NaN,398.25,398.46,600,2.390000e+05,NaN,NaN,NaN
1996-01-16,INFOSYSTCH,EQ,398.25,398.25,400.00,365.00,NaN,400.00,392.79,700,2.750000e+05,NaN,NaN,NaN
1996-01-17,INFOSYSTCH,EQ,400.00,400.00,401.00,395.00,NaN,396.20,399.05,1500,5.990000e+05,NaN,NaN,NaN
1996-01-18,INFOSYSTCH,EQ,396.20,396.20,397.50,394.00,NaN,397.50,394.89,400,1.580000e+05,NaN,NaN,NaN
1996-01-19,INFOSYSTCH,EQ,397.50,395.00,395.00,393.25,NaN,393.50,394.25,1000,3.940000e+05,NaN,NaN,NaN
1996-01-22,INFOSYSTCH,EQ,393.50,395.00,397.50,395.00,NaN,397.50,395.63,400,1.580000e+05,NaN,NaN,NaN
1996-01-23,INFOSYSTCH,EQ,397.50,393.00,400.00,393.00,NaN,396.25,396.79,1300,5.160000e+05,NaN,NaN,NaN
1996-01-24,INFOSYSTCH,EQ,396.25,396.25,394.50,385.50,NaN,394.50,390.47,800,3.120000e+05,NaN,NaN,NaN
1996-01-25,INFOSYSTCH,EQ,394.50,394.75,394.75,393.00,NaN,393.00,393.88,200,7.900000e+04,NaN,NaN,NaN
1996-01-29,INFOSYSTCH,EQ,393.00,392.00,392.00,390.75,NaN,390.75,391.38,200,7.800000e+04,NaN,NaN,NaN
1996-01-30,INFOSYSTCH,EQ,390.75,390.75,397.00,395.00,NaN,395.50,395.48,2800,1.107000e+06,NaN,NaN,NaN
1996-01-31,INFOSYSTCH,EQ,395.50,395.50,400.00,393.00,NaN,400.00,398.62,900,3.590000e+05,NaN,NaN,NaN
1996-02-01,INFOSYSTCH,EQ,400.00,400.00,415.00,400.00,NaN,415.00,409.37,1600,6.550000e+05,NaN,NaN,NaN
1996-02-02,INFOSYSTCH,EQ,415.00,415.00,430.00,415.00,NaN,429.95,425.88,4600,1.959000e+06,NaN,NaN,NaN
1996-02-05,INFOSYSTCH,EQ,429.95,429.95,431.00,420.05,NaN,430.00,427.57,1600,6.840000e+05,NaN,NaN,NaN
1996-02-06,INFOSYSTCH,EQ,430.00,430.00,452.50,430.00,NaN,440.00,443.76,2700,1.198000e+06,NaN,NaN,NaN
1996-02-07,INFOSYSTCH,EQ,440.00,440.00,432.00,427.00,NaN,428.30,428.69,1900,8.150000e+05,NaN,NaN,NaN
1996-02-08,INFOSYSTCH,EQ,428.30,435.00,455.00,435.00,NaN,455.00,444.55,1500,6.670000e+05,NaN,NaN,NaN
1996-02-09,INFOSYSTCH,EQ,455.00,455.00,475.00,425.00,NaN,472.35,451.59,2700,1.219000e+06,NaN,NaN,NaN
1996-02-12,INFOSYSTCH,EQ,472.35,472.35,479.00,465.00,NaN,467.00,468.88,1600,7.500000e+05,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-03-15,INFOSYSTCH,EQ,3100.80,3032.00,3058.90,3006.00,3040.00,3030.15,3034.00,1129728,3.427599e+09,NaN,663842.0,0.5876
2011-03-16,INFOSYSTCH,EQ,3030.15,3025.00,3061.45,3020.05,3030.00,3030.90,3044.36,699340,2.129043e+09,NaN,429805.0,0.6146
2011-03-17,INFOSYSTCH,EQ,3030.90,2984.10,2999.00,2971.00,2983.00,2978.70,2985.90,1040172,3.105847e+09,NaN,632428.0,0.6080
2011-03-18,INFOSYSTCH,EQ,2978.70,2980.15,2994.80,2932.60,2942.05,2941.10,2948.20,933500,2.752147e+09,NaN,540643.0,0.5792
2011-03-21,INFOSYSTCH,EQ,2941.10,2951.40,2957.00,2904.35,2919.90,2922.30,2920.82,825887,2.412267e+09,NaN,422768.0,0.5119
2011-03-22,INFOSYSTCH,EQ,2922.30,2935.15,2956.75,2924.00,2947.00,2943.05,2943.28,639968,1.883602e+09,NaN,400880.0,0.6264
2011-03-23,INFOSYSTCH,EQ,2943.05,2934.75,2998.80,2927.00,2991.05,2993.35,2979.32,908340,2.706235e+09,NaN,618230.0,0.6806
2011-03-24,INFOSYSTCH,EQ,2993.35,2992.95,3012.20,2978.75,3005.00,3002.80,3000.79,1023654,3.071775e+09,NaN,654334.0,0.6392
2011-03-25,INFOSYSTCH,EQ,3002.80,3044.00,3185.00,3040.05,3152.00,3163.05,3128.98,1582849,4.952705e+09,NaN,740179.0,0.4676
2011-03-28,INFOSYSTCH,EQ,3163.05,3139.00,3157.55,3109.75,3139.40,3139.55,3132.53,1507079,4.720968e+09,NaN,921510.0,0.6115
2011-03-29,INFOSYSTCH,EQ,3139.55,3132.00,3188.70,3128.95,3166.95,3173.35,3165.05,1232574,3.901164e+09,NaN,732403.0,0.5942
2011-03-30,INFOSYSTCH,EQ,3173.35,3172.00,3203.50,3156.65,3176.15,3170.90,3184.95,701016,2.232699e+09,NaN,392829.0,0.5604
2011-03-31,INFOSYSTCH,EQ,3170.90,3182.00,3265.00,3163.90,3240.00,3241.30,3231.23,2354991,7.609521e+09,NaN,1364679.0,0.5795
2011-04-01,INFOSYSTCH,EQ,3241.30,3235.10,3256.25,3208.00,3219.10,3218.15,3225.24,698536,2.252948e+09,NaN,388476.0,0.5561
2011-04-04,INFOSYSTCH,EQ,3218.15,3225.00,3296.00,3221.00,3274.00,3283.15,3274.25,921999,3.018851e+09,NaN,577939.0,0.6268
2011-04-05,INFOSYSTCH,EQ,3283.15,3276.95,3293.00,3231.10,3280.00,3283.25,3260.53,537817,1.753567e+09,NaN,214780.0,0.3994
2011-04-06,INFOSYSTCH,EQ,3283.25,3279.00,3299.00,3252.05,3275.40,3275.15,3278.02,845865,2.772760e+09,NaN,427655.0,0.5056
2011-04-07,INFOSYSTCH,EQ,3275.15,3261.90,3261.90,3237.70,3244.05,3245.90,3249.17,475036,1.543471e+09,NaN,253109.0,0.5328
2011-04-08,INFOSYSTCH,EQ,3245.90,3242.00,3264.65,3207.45,3226.00,3227.30,3228.92,604116,1.950644e+09,NaN,322281.0,0.5335
2011-04-11,INFOSYSTCH,EQ,3227.30,3195.30,3261.80,3181.00,3236.85,3241.60,3239.20,1000008,3.239229e+09,NaN,547349.0,0.5473
2011-04-13,INFOSYSTCH,EQ,3241.60,3211.00,3317.10,3196.00,3305.05,3306.20,3272.01,1383613,4.527190e+09,NaN,732424.0,0.5294
2011-04-15,INFOSYSTCH,EQ,3306.20,3296.15,3298.60,2977.50,2980.70,2989.50,3058.20,10127467,3.097178e+10,NaN,5248214.0,0.5182
2011-04-18,INFOSYSTCH,EQ,2989.50,2919.00,2967.00,2880.00,2903.00,2906.10,2927.63,5135839,1.503584e+10,NaN,2592869.0,0.5049
2011-04-19,INFOSYSTCH,EQ,2906.10,2906.00,2927.00,2881.00,2884.95,2887.35,2903.23,2401329,6.971602e+09,NaN,952646.0,0.3967
2011-04-20,INFOSYSTCH,EQ,2887.35,2919.00,2927.90,2891.00,2903.00,2907.30,2909.50,2243732,6.528142e+09,NaN,1311502.0,0.5845
2011-04-21,INFOSYSTCH,EQ,2907.30,2918.70,2940.50,2901.10,2903.00,2910.00,2919.71,2994212,8.742240e+09,NaN,1941570.0,0.6484
2011-04-25,INFOSYSTCH,EQ,2910.00,2915.00,2963.95,2907.40,2940.00,2941.30,2945.01,1940905,5.715990e+09,NaN,1208705.0,0.6228
2011-04-26,INFOSYSTCH,EQ,2941.30,2935.00,2954.95,2920.00,2937.60,2942.35,2938.04,2278860,6.695374e+09,NaN,1574554.0,0.6909
2011-04-27,INFOSYSTCH,EQ,2942.35,2945.00,2964.65,2942.50,2952.25,2953.15,2954.38,1247666,3.686083e+09,NaN,879994.0,0.7053
2011-04-28,INFOSYSTCH,EQ,2953.15,2949.00,2958.00,2921.00,2922.25,2929.15,2935.10,2927413,8.592258e+09,NaN,2230003.0,0.7618