# Data Imputing

In [7]:
import pandas as pd
from scipy.stats import mode
import numpy as np

In [2]:
#Laod Data File
input_file_name='C:\\users\\Akash\\Documents\\Github\\PyThon\\Data Sets\\ACCS\\Kudwi\\Kudwi.csv'
df = pd.read_csv(input_file_name)
df['Date'] = pd.to_datetime(df['Start_Time'], format='%d-%m-%Y %H:%M').dt.date
df['Time'] = pd.to_datetime(df['Start_Time'], format='%d-%m-%Y %H:%M').dt.time

column_order = ['Salon Code', 'Date', 'Time', 'Customer ID',
                'ProdID', 'EmpID', 'Qty', 'Tax', 'Retail_Price',
                'Discount_Amt',	'Discount_Perct', 'Total',
                'Mem_Disc', 'Oth_Disc', 'Studio_Status']
df = df[column_order]

### Find number of missing columns

In [4]:
def num_missing(x):
  return sum(x.isnull())
df.apply(num_missing, axis=0) #axis = 1 will gib=ve number of columns empty per row

Salon Code        0
Date              0
Time              0
Customer ID       0
ProdID            0
EmpID             0
Qty               0
Tax               0
Retail_Price      0
Discount_Amt      0
Discount_Perct    0
Total             0
Mem_Disc          0
Oth_Disc          0
Studio_Status     0
dtype: int64

## Imputing using mode from scipy

In [5]:
df['Customer ID'].fillna(mode(df['Customer ID']).mode[0], inplace=True)

C:\Program Files\Anaconda3\lib\site-packages\scipy\stats\stats.py:249: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

## Pivot table

In [13]:
df.pivot_table(values=['Total'], index=['Customer ID', 'EmpID', 'ProdID'], aggfunc=np.sum)

                                 Total
Customer ID EmpID  ProdID
AC...0      9999   SIRBRS0250   600.00
                   SLRXCS0230   550.00
            501776 SLRACS0250   500.00
            501823 GBDBLEFC     162.92
                   GBDBLENK     162.92
                   GSFACLFS     646.07
            502489 SLRAMX0012  1775.00
            502593 LSTHDGEB      39.33
            502633 GHHCUTNR     146.07
            502720 LBDBLEFC     162.92
                   LBDBLENK     162.92
                   LSFRFARA    1404.50
AC0         9999   GHHCUTNR     359.56
                   LSTHDGUL      39.33
                   SCKRCC0100   155.00
                   SCKRRC0100   155.00
                   SCKRVC0100   155.00
                   SIRBCS0200   975.00
                   SIROMU0100   850.00
                   SLRICL0250   575.00
                   SLRLPS0125  1250.01
                   SLRXCA0050   600.00
                   SLRXCM0200   650.01
                   SLRXCS0230  1650.00
                   SMABSH0200   205.00
                   SVEHMC0001   110.00
                   SWLHYS0250   895.00
            501181 LSTHDGEB      28.09
            501614 GHCGPRGL    1084.27
                   GHHCUTNR     876.42
...                                ...
BC999936    501563 GHHCUTNR     146.07
                   GSSHVGNR      67.42
            501564 GBDBLEFC     162.92
                   GBDBLENK     162.92
                   GHCGPRGL     904.50
                   GHHCUTNR     426.97
                   GSSHVGNR      67.42
BC999966    502699 LHCLPRSH    2123.60
                   LSTHDGEB      33.71
                   LSTHDGUL      33.71
BC999991    501563 GHHCUTNR     148.20
            502633 GBDBLEFC     182.40
                   GOTRCARD     100.32
            502803 GBDBLEFC     359.56
                   GHCGPRGL    1084.27
                   GHHCUTNR     359.56
                   GSSHVGNR      84.27
BC999999    9999   GHHCUTNR     146.07
            501394 GHHCUTNR     314.61
            501563 GHHCUTNR     292.14
                   GHWALSTR     955.06
                   GSSHVGNR      67.42
                   SIRBSS0250   600.00
                   STRMEM0001   100.00
                   SWLSMS0250   895.00
            501564 GHHCUTNR     168.54
            501617 GHHCUTNR     168.54
            502409 GHHCUTNR     337.08
            502633 GHHCUTNR     179.78
                   GOTRCARD     100.00

[111952 rows x 1 columns]

### Use crosstab for initial hypothesis testing

Initially assumed that store A had more business
Now confirmed

In [15]:
pd.crosstab(df['Salon Code'], df['Total'], margins=True)

Total,0.0,3.37,5.62,5.7,11.24,11.4,14.61,16.85,17.98,19.1,...,9887.68,10449.5,11236.0,11348.36,11348.4,13258.48,14719.16,14719.2,17977.6,All
Salon Code,,,,,,,,,,,,,,,,,,,,,
A,1458,1,5,1,17,3,1,6,4,5,...,1,0,1,1,1,1,1,1,1,86935
B,651,0,3,0,6,0,0,4,2,3,...,0,1,0,0,0,0,0,0,0,51545
All,2109,1,8,1,23,3,1,10,6,8,...,1,1,1,1,1,1,1,1,1,138480