In [3]:
from market import Market
import pandas as pd

%matplotlib inline

In [4]:
import warnings
from datetime import datetime
from io import StringIO

import numpy as np
import pandas as pd
import requests
from nsepy import get_history

import concurrent.futures
from helpers import rename_columns

In [24]:
m = Market()
traded_dates = pd.read_hdf('constants.h5', 'traded_dates')

In [32]:
def fetch_historical_data(symbol, start=None):
    '''Fetch all data from NSE and Adj Close from Yahoo Finance'''
    from_date = m.get_date(start, start=True)
    to_date = m.get_date(date='2006-09-01', start=False)
    # Get data from NSE
    try:
        nse_data = get_history(
            symbol=symbol, start=from_date,
            end=to_date, series='EQ'
        )
        nse_data = pd.concat([nse_data_EQ, nse_data_BE, nse_data_BL])
        if nse_data.empty:
            warnings.warn(
                'No data recieved from NSE for {0} from {1} to {2}'.
                format(symbol, from_date.date(), to_date.date())
            )
            return nse_data
        nse_data.drop(
            ['Deliverable Volume'], 1, inplace=True
        )
        nse_data.index = pd.to_datetime(nse_data.index)
    except Exception as e:
        warnings.warn(
            'Could not get data for {0} from NSE due to {1}'.format(symbol, e)
        )
        return pd.DataFrame()

    rename_columns(nse_data)
    nse_data['symbol'] = [symbol for i in range(len(nse_data))]
    nse_data = nse_data.reset_index().sort_values(['date', 'symbol', 'series', 'close'])
    nse_data = nse_data.drop_duplicates(
        subset=['symbol', 'date'], keep='last'
    )
    stock_sprecific_traded_dates = traded_dates[from_date:]
    total_trades = stock_sprecific_traded_dates.join(nse_data).drop(['days_count'], axis=1)
    missing_dates = total_trades.index.difference(nse_data.index)
    missing_count = len(missing_dates)

    if missing_count > 0:
        non_null_close = total_trades[['prev_close', 'close']].dropna()
        if len(non_null_close[non_null_close.close.shift(1) != non_null_close.prev_close]) <= 1:
            total_trades[['symbol', 'close',]] = total_trades[['symbol', 'close',]].ffill()
            total_trades.prev_close = total_trades.prev_close.fillna(total_trades.close)
            total_trades.open = total_trades.open.fillna(total_trades.close)
            total_trades.high = total_trades.high.fillna(total_trades.close)
            total_trades.low = total_trades.low.fillna(total_trades.close)
            total_trades['last'] = total_trades['last'].fillna(total_trades.close)
            total_trades.vwap = total_trades.vwap.fillna(total_trades.close)
            total_trades.volume = total_trades.volume.fillna(0)
            total_trades.turnover = total_trades.turnover.fillna(0)
        else:
            print(missing_dates)
#     nse_data['simple_returns'] = (
#         (nse_data.close - nse_data.prev_close) / nse_data.prev_close
#     )
#     nse_data['log_returns'] = np.log(nse_data.close / nse_data.prev_close)
#     nse_data = m.handle_abnormal_returns(symbol_data=nse_data)
#     nse_data['daily_volatility'] = m.get_daily_volatility(nse_data.log_returns)

#     # Adjusting other columns for maintaining integrity
#     nse_data.volume = nse_data.volume.astype(np.float)
#     nse_data.trades = nse_data.trades.astype(np.float)
#     nse_data['pct_deliverble'] = nse_data['pct_deliverble'] * 100
    return nse_data

In [33]:
data = fetch_historical_data('hindalco', '2006-05-01')

In [27]:
data

,date,symbol,series,prev_close,open,high,low,last,close,vwap,volume,turnover,trades,pct_deliverble
0,2006-05-02,hindalco,EQ,224.45,230.00,240.00,230.00,235.90,235.95,235.29,10137998.0,2.385404e+09,NaN,0.5347
1,2006-05-03,hindalco,EQ,235.95,236.00,239.80,227.05,230.95,231.05,230.72,6663868.0,1.537466e+09,NaN,0.5488
2,2006-05-04,hindalco,EQ,231.05,235.00,235.00,222.00,224.70,224.90,228.39,4884911.0,1.115680e+09,NaN,0.4670
3,2006-05-05,hindalco,EQ,224.90,226.50,233.00,225.25,230.00,229.95,229.94,4064947.0,9.347110e+08,NaN,0.3783
4,2006-05-08,hindalco,EQ,229.95,230.00,233.95,227.65,228.75,228.75,230.30,4222862.0,9.725140e+08,NaN,0.5623
5,2006-05-09,hindalco,EQ,228.75,229.00,231.00,222.80,230.85,229.25,226.55,3584834.0,8.121470e+08,NaN,0.4326
6,2006-05-10,hindalco,EQ,229.25,231.10,243.80,231.10,241.50,239.45,235.36,8214673.0,1.933381e+09,NaN,0.5311
7,2006-05-11,hindalco,EQ,239.45,240.50,248.50,237.20,244.10,243.20,244.19,9068591.0,2.214463e+09,NaN,0.4329
8,2006-05-12,hindalco,EQ,243.20,244.00,251.30,241.10,243.30,242.85,246.47,8524482.0,2.101034e+09,NaN,0.4771
9,2006-05-15,hindalco,EQ,242.85,244.00,244.00,205.95,210.00,209.60,222.13,15781775.0,3.505589e+09,NaN,0.4566
10,2006-05-16,hindalco,EQ,209.60,210.00,220.00,192.70,215.00,216.20,205.33,22056823.0,4.528963e+09,NaN,0.3077
11,2006-05-17,hindalco,EQ,216.20,222.00,223.85,215.65,217.00,217.90,219.72,9041754.0,1.986643e+09,NaN,0.4066
12,2006-05-18,hindalco,EQ,217.90,201.00,210.00,188.20,190.75,192.10,198.76,13520934.0,2.687481e+09,NaN,0.3270
13,2006-05-19,hindalco,EQ,192.10,201.00,208.80,185.00,188.65,188.80,194.66,12234097.0,2.381515e+09,NaN,0.2611
14,2006-05-22,hindalco,EQ,188.80,191.00,194.55,164.90,173.15,176.05,178.55,10050655.0,1.794586e+09,NaN,0.3941
15,2006-05-23,hindalco,EQ,176.05,179.95,192.30,166.95,191.00,190.65,181.86,7270130.0,1.322149e+09,NaN,0.3296
16,2006-05-24,hindalco,EQ,190.65,195.00,201.70,181.00,182.90,185.55,192.68,12278873.0,2.365946e+09,NaN,0.3989
17,2006-05-25,hindalco,EQ,185.55,182.00,192.00,172.10,182.00,183.95,184.12,11844471.0,2.180832e+09,NaN,0.4514
18,2006-05-26,hindalco,EQ,183.95,187.90,194.85,181.10,185.80,185.05,187.70,7933674.0,1.489119e+09,NaN,0.3651
19,2006-05-29,hindalco,EQ,185.05,185.05,199.00,185.05,190.00,188.85,189.56,5876228.0,1.113914e+09,NaN,0.2703
20,2006-05-30,hindalco,EQ,188.85,190.00,192.00,184.30,184.50,185.25,188.60,4429785.0,8.354500e+08,NaN,0.2865
21,2006-05-31,hindalco,EQ,185.25,182.00,182.00,171.25,178.00,177.60,175.03,6850343.0,1.199035e+09,NaN,0.2130
22,2006-06-01,hindalco,EQ,177.60,181.00,182.95,162.20,163.50,166.55,173.90,6904451.0,1.200702e+09,NaN,0.2845
23,2006-06-02,hindalco,EQ,166.55,168.00,181.95,163.15,181.50,179.75,173.22,9498055.0,1.645246e+09,NaN,0.3674
24,2006-06-05,hindalco,EQ,179.75,184.00,184.00,169.50,170.00,170.35,175.13,6756587.0,1.183260e+09,NaN,0.3241
25,2006-06-06,hindalco,EQ,170.35,167.90,167.90,158.20,158.30,161.00,164.04,7193389.0,1.179995e+09,NaN,0.3914
26,2006-06-07,hindalco,EQ,161.00,158.90,163.90,147.05,156.45,154.45,155.52,6998583.0,1.088410e+09,NaN,0.2674
27,2006-06-08,hindalco,EQ,154.45,148.05,160.50,138.65,150.00,152.00,153.26,12601846.0,1.931409e+09,NaN,0.2991
28,2006-06-09,hindalco,EQ,152.00,150.55,162.00,150.10,159.70,159.55,158.61,8318595.0,1.319422e+09,NaN,0.3992
29,2006-06-12,hindalco,EQ,159.55,159.00,161.90,151.00,152.65,152.75,155.16,5311797.0,8.241990e+08,NaN,0.3816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2006-07-21,hindalco,EQ,164.20,163.00,163.00,156.30,157.35,157.45,157.78,2302131.0,3.632210e+08,NaN,0.4458
60,2006-07-24,hindalco,EQ,157.45,157.00,157.00,151.00,155.65,155.35,153.54,3973757.0,6.101440e+08,NaN,0.4101
61,2006-07-25,hindalco,EQ,155.35,158.15,159.75,155.85,157.35,157.85,157.83,2820050.0,4.450910e+08,NaN,0.4574
62,2006-07-26,hindalco,EQ,157.85,158.00,163.60,156.50,162.25,162.70,162.14,3469470.0,5.625450e+08,NaN,0.5520
63,2006-07-27,hindalco,EQ,162.70,164.45,167.00,161.25,167.00,165.30,163.92,5818508.0,9.537410e+08,NaN,0.5846
64,2006-07-28,hindalco,EQ,165.30,167.00,170.55,160.10,161.35,162.75,165.87,7853738.0,1.302702e+09,NaN,0.3981
65,2006-07-31,hindalco,EQ,162.75,165.00,168.45,159.90,160.00,160.65,164.38,6555708.0,1.077637e+09,NaN,0.4167
66,2006-08-01,hindalco,EQ,160.65,161.70,162.60,155.05,157.20,157.55,157.68,6061013.0,9.557240e+08,NaN,0.3874
67,2006-08-02,hindalco,EQ,157.55,160.00,161.55,157.00,160.90,160.85,159.84,4056232.0,6.483540e+08,NaN,0.3645
68,2006-08-03,hindalco,EQ,160.85,161.70,163.80,159.10,159.30,160.20,162.03,2827026.0,4.580750e+08,NaN,0.3843
69,2006-08-04,hindalco,EQ,160.20,162.50,164.00,158.35,159.80,159.90,161.53,3545302.0,5.726680e+08,NaN,0.2901
70,2006-08-07,hindalco,EQ,159.90,160.00,161.30,157.40,158.50,158.00,159.25,3677307.0,5.856210e+08,NaN,0.5215
71,2006-08-08,hindalco,EQ,158.00,159.95,160.70,158.00,160.10,160.40,159.22,3299122.0,5.253020e+08,NaN,0.5142
72,2006-08-09,hindalco,EQ,160.40,157.00,165.05,157.00,164.80,164.15,163.12,5462833.0,8.910830e+08,NaN,0.5091
73,2006-08-10,hindalco,EQ,164.15,164.20,168.60,164.05,167.15,167.45,166.95,5235086.0,8.739990e+08,NaN,0.3562
74,2006-08-11,hindalco,EQ,167.45,168.00,169.45,164.15,165.15,165.80,166.62,4304872.0,7.172940e+08,NaN,0.3920
75,2006-08-14,hindalco,EQ,165.80,166.50,167.35,164.60,166.80,166.55,166.07,4109353.0,6.824230e+08,NaN,0.4774
76,2006-08-16,hindalco,EQ,166.55,168.50,171.65,167.75,168.80,169.05,169.88,5606930.0,9.525220e+08,NaN,0.5009
77,2006-08-17,hindalco,EQ,169.05,170.10,170.70,163.50,164.10,164.70,165.83,5926682.0,9.828470e+08,NaN,0.4344
78,2006-08-18,hindalco,EQ,164.70,165.20,165.20,159.45,160.90,160.95,160.80,5244213.0,8.432600e+08,NaN,0.3170
79,2006-08-21,hindalco,EQ,160.95,161.10,162.30,159.10,161.50,161.30,161.04,2558575.0,4.120250e+08,NaN,0.3585
80,2006-08-22,hindalco,EQ,161.30,162.00,166.25,162.00,164.50,164.40,164.75,4598052.0,7.575250e+08,NaN,0.4460
81,2006-08-23,hindalco,EQ,164.40,164.50,165.70,161.25,161.90,161.95,163.90,2226093.0,3.648610e+08,NaN,0.3280
82,2006-08-24,hindalco,EQ,161.95,165.50,168.70,159.55,168.40,168.00,164.58,4810628.0,7.917220e+08,NaN,0.4155
83,2006-08-25,hindalco,EQ,168.00,170.00,173.95,167.30,172.95,172.65,171.09,8046225.0,1.376605e+09,NaN,0.4930
84,2006-08-28,hindalco,EQ,172.65,173.50,177.00,173.50,176.70,176.55,175.69,3841492.0,6.749030e+08,NaN,0.4513
85,2006-08-29,hindalco,EQ,176.55,177.50,178.00,174.00,175.30,175.40,176.29,4378251.0,7.718340e+08,NaN,0.4962
86,2006-08-30,hindalco,EQ,175.40,175.55,177.00,173.00,173.20,173.40,174.21,2669474.0,4.650480e+08,NaN,0.3691
87,2006-08-31,hindalco,EQ,173.40,173.40,176.95,171.05,172.50,172.15,174.19,7094509.0,1.235824e+09,NaN,0.4699
88,2006-09-01,hindalco,EQ,172.15,172.00,174.55,171.35,173.25,172.90,173.17,2457886.0,4.256290e+08,NaN,0.3940

In [ ]:
data['2010-10':'2010-11'][['series', 'prev_close', 'close']]

In [ ]:
data.close.plot()

In [ ]:
days = pd.read_hdf('constants.h5', 'traded_dates')

In [ ]:
data = days.join(data).drop(['days_count'], axis=1)['2012':]

In [ ]:
data.dropna()